language: java
sudo: false
install: true
jdk: openjdk11
script: ./travis.sh

git:
  depth: false

env:
  global:
    - secure: "KQL//XkaY310Jt4efPl0H0K4BGoRqWlODWMJU9zLA32r0DK5X+bI6SBfj4IbBiG8HAXmz4uZyxcYeWaXBEteV0KR+XPAhUSNx5shN5AHvaTC3ap3jmR2yfrn07+VEkV/oRBLrja6ZuZxa8u0asj5YVKAv2bcYY9DuzX7pR6dmoc28xVX2gwdJT+J3zIwiDdG0TEWSXqZn4kmzCE5KIJMfxt2VnBkHQCxxInaiplkUNHIulnz1P1mvgfmn2+hcyAnUlyjyeFyHrmAq7esfk83ZhfVyHPclQlieEE2PddwgHKKGQ7QbYgzt2k91c0O+Gjn2snHx3MJszrDyulPDvhY3NFq4EhR6xOhDBWRG+U26hZIxgF7x8O173YN7TupiiPkSpClsEDrS1M603tpr1bApll9RMTDYr+Fgdzw5T3/StdgkwTdVTYPyywB+2qaSyuC0sVtqc9D5h750vjfUZd8YaPmAmxQt2inmVJBRb2Vr8uqpnf/qseOI4SO44SK0Vy4UQ2FCO5SVYCLYzOzGfL0wl8TKZnGl/uGJ+jkpjj8KNlvWa1cQoviVn7lUjp2pc7tYJe5O8CKvvq5w7i9GtDgOx9TiuEZJVadHbJ/UCwjp234cpMPAUKfKo/zluBgXUpMqvdThj9ccrJBpJCS3/lcEBxbK/rmgmhMkxxFoU0hnDY="

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'

notifications:
  email: false
  webhooks:
    urls:
      - secure: "Rfoalk7uP2jMXD6P1xOG6z6J5AmK3/GeqIh9k2nMQFeCAMuxuv8Kv3ZWQ5lyz2ueP9fW37/JXWamsS31KVCzBbyAVx3hK0mZ9PpjvVnJ2B//jhwuYk/Zh4CluiWhN9vVOxcq5+IXcUi08+olKR0Bh3NY6ZqRQ/EmuWZ11JcgtjHCTqcBu4HLEdmxbYzzATNezYt3Yj98UDm9OUK8tOCbAPM0GCTJHbqp0SOS56G1prOSdFxnegOZktA8Ui3kTNSB7pyC1nXk7wqvsZLN5U/0UQ06OD76CaSVxWQPMOYczXrGJZ5KyOEkjFzV5sGfSdx7uaOPKBetS0Y4d2rsiNZxPyo47/cV04nk7jaAYoBVHBdTSlli++JDJimEQ1a6UikUNR4VQvTFuAWN4V7QAKYvfAA/cconba7thaq6LCOsJMA1Z92uMPsX7XMzu7gIT6kBi6AejF2nmLWruoEWswM2WWYQBqmMeZUX1zSabEdvhhKa/b8gaET/KOUHp/9pThaIJ8+CyN+cyvYbfiKybsEiVMlJ6XPwmOd6jyC7A9czWVKToo1fg4OGnD3L7yjD/Mep+uYR7nkckz7i+1WU+kR1PPut+GzWdoxqXMS3izdvig61TnjnlaV3C7rCUs7ZiSulbcpSNgYDmMTzKMBmS4SzxZLt7nYFxHplNAgjppCcUBY="
    on_start: always
